<a href="https://colab.research.google.com/github/cardosorrenan/alura-QuarentenaDados/blob/master/Day01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

Movies fetched from api: 9742 rows

In [0]:
movies = pd.read_csv("https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula0/ml-latest-small/movies.csv")
movies.columns = ["movie_id", "title", "genres"]

Reviews fetched from api: 100836 rows

In [0]:
reviews = pd.read_csv("https://github.com/alura-cursos/introducao-a-data-science/blob/master/aula0/ml-latest-small/ratings.csv?raw=true")
reviews.columns = ["user_id", "movie_id", "rating", "timestamp"]

Average movie reviews: 9724 rows

In [0]:
reviews_avg = reviews.groupby('movie_id')['rating'].mean()

Average and film details: 9724 rows

In [0]:
movies_with_avgs = movies.join(reviews_avg, on="movie_id")

## **Task 1**: Find all the movies without rating

In [35]:
movies_without_avgs = movies_with_avgs[movies_with_avgs.isna().any(axis=1)]
print(movies_without_avgs.shape)
movies_without_avgs.head()

(18, 4)

      movie_id  ... rating
816       1076  ...    NaN
2211      2939  ...    NaN
2499      3338  ...    NaN
2587      3456  ...    NaN
3118      4194  ...    NaN

[5 rows x 4 columns]

## **Task 3**: Find the review amount for each movie

In [36]:
count = reviews.groupby('movie_id')['movie_id'].count()
movies_count_reviews = pd.DataFrame({'movie_id': count.index, 'count': count.values}).sort_values("movie_id")
movies_count_reviews.head()

   movie_id  count
0         1    215
1         2    110
2         3     52
3         4      7
4         5     49

## **Task 4**: Round the averages to 2 decimal digits

In [30]:
movies_with_avgs = movies_with_avgs.round({'rating': 2})
movies_with_avgs.head()

   movie_id  ... rating
0         1  ...   3.92
1         2  ...   3.43
2         3  ...   3.26
3         4  ...   2.36
4         5  ...   3.07

[5 rows x 4 columns]

## **Task 5**: List all genres (unique)

In [29]:
movie_genres = movies['genres'].to_numpy()
genres = '|'.join(movie_genres).split('|')
genres_unique = list(set(genres))
genres_unique

['Romance',
 'Horror',
 'Drama',
 'Film-Noir',
 'IMAX',
 'Thriller',
 'Western',
 'Sci-Fi',
 'Comedy',
 'Animation',
 'Adventure',
 'Fantasy',
 'Children',
 'War',
 'Musical',
 'Documentary',
 '(no genres listed)',
 'Mystery',
 'Crime',
 'Action']